.menu-container {
    background: #272727;
    padding: 10px;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
    
}

.menu-list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}