.menu-container {
    background: #b3b3b3;
    padding-top: 10px;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
    
}

.menu-list a {
    text-decoration: none;
    color: black;
}